<div class="padding-nav">
    <!-- début Pratiquer l'athlétisme -->
    <div class="bg-img text-light">
        <div class="container">
            <div class="row justify-content-center texte">
                <div class="col-12 col-lg-8 d-flex justify-content-center flex-column">
                    <h1 class="font">Pratiquer l’Athlétisme</h1>
                    <p>
                        La ligue propose différents types de licences pour chacune de vos envies.
                        Trouvez le club le plus proche de chez vous grâce à notre carte interactive.
                        <br />Devenez adhérents et accédez à de nombreux avantages.
                    </p>
                    <a href="/licence" class="licence font">JE TROUVE MA LICENCE</a>
                </div>
            </div>
        </div>
    </div>
    <!-- fin Pratiquer l'athlétisme -->

    <!-- début mini-jeux -->
    <div class="container p-5">
        <div class="row">
            <div class="col-md-7 d-flex justify-content-center">
                <img src="img/jeu.jpg" class="img-acc" alt="Mini-jeux d'athlétisme">
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center">
                <h1 class="font titre-acc">Mini-jeux d'athlétisme</h1>
                <p>Défiez vos amis sur cette suite de mini-jeux reprenants les différentes épreuves de l’athlétisme et tentez de gagner des superbes cadeaux !</p>
                <a href="/game" class="licence-acc font">JOUER AUX JEUX</a>
            </div>
        </div>
    </div>
    
    <!-- fin mini-jeux -->

    <!-- début ligue athlé -->
     <div class="bg-light">
        <div class="container p-5">
            <div class="row">
                <div class="col-md-5 d-flex flex-column justify-content-center">
                    <h1 class="font titre-acc">La ligue d’athlétisme NC</h1>
                    <p>Lorem ipsum</p>
                    <a href="/ligue" class="licence-acc font">DÉCOUVREZ LA LIGUE</a>
                </div>
                <div class="col-md-7 d-flex justify-content-center">
                    <img src="img/ligue-athlete.jpg" class="img-acc" alt="La ligue d'athlétisme">
                </div>
            </div>
        </div>   
    </div> 
    <!-- fin ligue athlé -->
</div>
